*{
	font-family: helvetica;
}

main {
	margin: 20px;
}

h2{
	margin-top: 0px;
}

span{
	font-size: 11px;
	margin-bottom: 0;

}

nav{
	color: white;
	background-color: black;
	padding: 20px;
}

p{
	color: grey;
}

section{
	margin: 20px;
	border-style: solid;
	padding: 15px;
}


